<!DOCTYPE html>
<html>
    <head>
        <title>Neural Engine</title>
        <link type="image/png" sizes="120x120" rel="icon" href="../static/images/icon.png">
        <link rel="stylesheet" href="../static/css/general.css">
    </head>
    <body>
        <header class="header">
            <div class="header__inner">
                <div class="header_nav_block">
                    <img class="header_icon" src="../static/images/icon.png"/>
                    <nav class="header_nav">
                        <a class="nav_link active" href="#">Главная</a>
                        <a class="nav_link" href="#">Скачать</a>
                        <a class="nav_link" href="#">Контакты</a>
                    </nav>
                </div>
                <div class="header_search">
                    <input class="header_search_input" placeholder="поиск"/>
                    <img class="header_search_btn" src="../static/images/search.png">
                </div>
            </div>
        </div>
        <div class="page">
            <section class="intro">
                <div class="section__inner">
                    
                </div>
            </section>
        </div>
    </body>

    <script src="../static/js/search.js"></script>
</html>